/* GENERAL STYLES */
/* Colors */
:root {
  --border-black: #131111;
  --bg-black: #000000;
  --bg-white: rgb(255, 255, 255, 0.8);
  --bg-show: #7a7a7a;
  --bg-nav: #222;
  --primary-white: #f1f1f1;
  --primary-red: #ff0066;
  --primary-black: #000000;
}

/* Margin and padding are included in element's width and height */
* {
  box-sizing: border-box;
}

/* Hide content */
.hide {
  display: none;
}

section {
  display: block;
  margin: 2vh;
  min-height: 25vw;
}

/* HEADER STYLES START */
header {
  min-height: 30vh;
  background-image: url('../images/receiver-pile.jpg');
  background-size: contain;
  background-position: center;
}

.header-title {
  font-weight: bolder;
  border-radius: 1rem;
  background-color: var(--bg-white);
  color: var(--primary-black);
}

/* Nav Bar*/
nav {
  padding: 0 15px;
}

a {
  color: var(--primary-black);
  text-decoration: none;
  cursor: pointer;
}

/* Form */
.search-form {
  width: 30%;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  border-radius: 1rem;
  background-color: var(--bg-white);
  color: var(--primary-black);
}

form label {
  font-weight: bold;
}
/* HEADER STYLES END */

/* MOIVE SECTION STYLES START */
.movie {
  background: #d3d3d3;
  height: 120px;
}
/* SHOW SECTION STYLES START */

article {
  display: flex;
}

.show {
  background: #9ddadf;
  height: 120px;
}

.section-title {
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  padding: 1vw;
}

.card {
  width: 100%;
  margin: 20px;
  justify-content: space-between;
  flex-direction: row;
  background: #eae7dc;
  color: #8e8d8a;
  border-radius: 20px;
}

.show-section {
  display: flex;
  flex-direction: row;
}

a:hover,
a:focus {
  color: var(--primary-red);
}

.item {
  padding: 50px 15px 5px 15px;
  width: 100%;
  text-align: center;
  width: auto;
  display: block;
  position: relative;
  border-radius: 1rem;
  background-color: var(--bg-white);
  color: var(--primary-black);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: none;
}
.menu li a {
  display: block;
  padding: 15px 5px;
 

}

/* Form */
.search-form {
  width: 30%;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  border-radius: 1rem;
  background-color: var(--bg-white);
  color: var(--primary-black);
}

form label {
  font-weight: bold;
}
/* HEADER STYLES END */



/* ACTOR SECTION STARTS */
/* Style the actor section */
.actor {
  background: #d3d3d3;
  height: 120px;
}

/* Actor image */
.actor-image {
  max-height: 30vh;
  position: absolute;
  left: 10vw;
}

/* Actor title */
.actor-title {
  font-size: 1.5vw;
}

/* Actor known for styling */
.known-list {
  font-weight: bold;
  font-size: 1.4vw;
  font-style: italic;
  margin: 1vw 0.2vw 0.2vw 0.2vw;
}

/* FOOTER STYLE START */
footer {
  text-align: right;
  width: 100%;
  height: 90px;
  padding: 20px;
  background: var(--bg-black);
  color: var(--primary-white);
}
/* FOOTER STYLE END */
