/* GENERAL STYLES */
/* Colors */
:root {
  --button-hover: #1b6c86;
  --bg-nav: #222;
  --bg-oddSection: #d3d3d3;
  --bg-sectionTitle: #9ddadf;
  --bg-card: #eae7dc;
  --bg-white: rgb(255, 255, 255, 0.8);
  --primary-white: #f1f1f1;
  --primary-red: #ff0066;
  --gray: #7a7a7a;
  --black: #000000;
  --light-orange: #fe6601;
}

/* Margin and padding are included in element's width and height */
* {
  box-sizing: border-box;
}

html body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #1b6c86, #281e32);
  background-repeat: no-repeat;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 5rem;
}
/* UTILITY CLASSES */
/* Hide each section */
.hide {
  display: none;
}

/* Main titles for each section */
.section-title {
  font-size: 2.5vw;
  font-weight: bold;
  padding: 1vw;
  border: 2px solid var(--gray);
  border-radius: 12px;
  background: var(--bg-sectionTitle);
  color: var(--bg-show);
}

/* HEADER STYLES START */
header {
  min-height: 60vh;
  background-image: url('../images/watchopedia-bg-2.svg');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.header-title {
  background: url('../images/watchopedia-logo.svg') no-repeat;
  display: block;
  height: 13vh;
  width: auto;
}

/* NAV BAR STYLES START */
.topnav {
  /* background-color: #333; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 50px 0px 0px;
  margin: 0px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: #fe6601;
}

/* Bottom Nav */

.bottom-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-left: 2vw;
}

.bottom-nav a:hover {
  color: var(--button-hover);
}
/* NAV BAR STYLES END */

/* Form */
.search-form {
  width: 30%;
  font-weight: 500;
  font-style: italic;
  border-radius: 1rem;
  background-color: var(--bg-white);
  color: var(--black);
}

.searchButton {
  background-color: var(--light-orange);
  color: var(--primary-white);
  border-radius: 10px;
  border: none;
  padding: 8px 18px;
  margin: 10px 0px 12px 0px;
}

.searchButton:hover {
  background-color: var(--button-hover);
}

form label {
  font-weight: bold;
}

/* HEADER STYLES END */

/* ACTOR SECTION STARTS */
.actor {
  background: var(--bg-oddSection);
  min-height: 50vh;
  margin-bottom: 5em;
}

/* Actor image */
.actor-image {
  max-width: 20%;
  position: absolute;
  left: 5vw;
  padding: 2vw;
}

/* Actor information container */
.actorInfoContainer {
  display: flex;
  justify-content: flex-end;
  margin: 1vw;
}
/* Actor biography styling */
.biography {
  text-align: center;
  width: 70%;
  margin: 1vw;
  padding: 2vw;
  font-weight: bold;
  font-style: italic;
  border-radius: 20px;
  background: var(--bg-card);
}
/* ACTOR SECTION ENDS */

/* MOVIE SECTION STYLES START */
.movie {
  background: var(--bg-oddSection);
}
/* MOVIE SECTION STYLES END */

/* SHOW SECTION STYLES START */
.show {
  margin: 2vh;
  min-height: 25vw;
}

.card {
  max-width: 100%;
  background: var(--bg-card);
  color: var(--gray);
  border-radius: 20px;
  flex: 0 1 24%;
  box-sizing: border-box;
  margin: 1rem 0.25em;
}

.image.is-4by3 {
  padding-top: 100%;
  height: 350px;
  width: 400px;
  padding-left: 100%;
}

a:hover,
a:focus {
  color: var(--primary-red);
}

.item {
  padding: 50px 15px 5px 15px;
  width: 100%;
  text-align: center;
  width: auto;
  display: block;
  position: relative;
  border-radius: 1rem;
  color: var(--black);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: none;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
/* SHOW SECTION END */

/* WATCH LATER SECTION STYLING START */
#watch-section {
  padding: 80px 20px;
}

.watchlist-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
  color: white;
}

.title-list-wrapper {
  flex: 1;
  margin: 0 20px 20px;
}

.list-title {
  font-size: 2.6rem;
}

.title-list {
  list-style: none;
  padding: 15px;
  height: 20vw;
  border-radius: 12px;
  border: 2px solid;
  color: white;
}

.title-item {
  color: var(--gray);
  padding: 15px 15px;
  border: 2px solid var(--gray);
  border-radius: 12px;
  margin-bottom: 20px;
}

.title-name {
  margin: 0;
}

.title-type {

  font-size: 1.55rem;
}

.title-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 5px 0;
  justify-content: space-between;
}

.title-actions button,
.title-actions select {
  flex: 1;
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--gray);
}

.btn:hover {
  box-shadow: 0 2px var(--gray);
  top: -2px;
}

.btn:active {
  box-shadow: 0 0px;
  top: 0;
}

.watch-list_element {
  position: relative;
}
.watch-list_element span {
  content: 'x';
  top: 7px;
  right: 7px;
  background-color: #ffff;
  width: 20px;
  height: 20px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  padding-left: 5px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.watch-list_element .watch-list_img {
  width: 120px;
  height: 170px;
  margin: 10px;
}
/* WATCH LATER SECTION STYLING END */

/* FOOTER STYLE START */
footer {
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding-right: 2em;
  background-color: #fe6601;
  color: var(--primary-white);
}

/* MEDIA QUERIES */
@media screen and (max-width: 376px) {
  .header-title {
    width: 95vw;
    background-position: center;
    margin: 0 0.5rem;
  }

  .topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .topnav a {
    margin: 20px auto 0 auto;
    padding: 0;
  }

  .search-form {
    width: 80%;
  }

  .hero {
    flex-wrap: wrap;
    align-content: center;
  }
}

@media screen and (max-width: 700px) {
  header {
    background-position: center;
    background-size: 60vw;
  }

  .header-title {
    background-position: center;
    margin: 0 0.5rem;
  }

  .search-form {
    width: 80%;
  }

  .hero {
    flex-wrap: wrap;
    align-content: center;
  }

  .actorInfoContainer {
    flex-direction: row;
  }
}